ul.contextmenu, ul.contextmenu ul, ul.contextmenu li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
ul.contextmenu > li > ul.children {
    padding-left: 1.5em;
}
ul.contextmenu > li > ul.children ul.children {
    padding-left: 2em;
}
ul.contextmenu > li > ul.children ul.children a {
    padding-top: 5px;
    padding-bottom: 5px;
}
li.page_item_has_children ul {
    display: none;
}
li.current_page_ancestor > ul.children, li.current_page_item > ul.children {
    display: block;
}
ul.contextmenu > li {
    padding-left: 15px;
	padding-right: 15px;
}
ul.contextmenu > li.current_page_ancestor,
ul.contextmenu > li.current_page_item {
    background-color: #f7f7f7;
}
li.current_page_item > a {
    color: var(--global-palette5);
}
li.page_item_has_children {
    position: relative;
}
li.page_item_has_children > a:after {
    content: "›";
    font-size: 20px;
    display: block;
    position: absolute;
    top: 7px;
    right: 20px;
}
li.page_item_has_children.current_page_item > a:after {
    font-size: 23px;
    top: 5px;
    transform: rotate(90deg) scale(1.3, 1);
}
